/*
 * 初期学习CSS，为了防止漏写或者乱写，我们采取“挖祖坟式”写样式：从最外层结构向里层结构编写，一个标签都不漏
*/
html, body {
    width: 100%;
    background: -webkit-linear-gradient(top left, lightgreen, lightpink, lightsteelblue,lightpink,lightblue);
}

.articleBox {
    padding: 0 20px;
    width: 760px;
    /*height: auto; !*高度自动：内容有多高撑开多高(可以不用写，默认值就是AUTO)*!*/
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto; /*左右的MARGIN是AUTO：相当于距离左右两边间距一样(在容器水平居中的位置)*/
}

.headerBox {
    border-bottom: 1px dashed #999;
}

.headerBox h1 {
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.headerBox h2 {
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: orange;
    font-weight: normal;
}

.mainBox {

}

.mainBox p {
    line-height: 35px;
    font-size: 14px;
    text-indent: 2em;
}

.mainBox p em {
    font-weight: bold;
    font-style: normal;
    color: green;
}

.figureBox1 {
    margin: 10px 20px 0 0;
    width: 300px;
    float: left;
}
.figureBox2 {
    width: 425px;
    float: right;
    margin: 10px 0 0 10px;
}
.figureBox3 {
    width: 300px;
    float: right;
    margin: 10px 0 0 20px;
}
@media all and (max-width: 800px) {
    .articleBox {
        padding: 0 5px;
        width: auto;
    }
}
@media all and (max-width: 480px){
    .figureBox1,.figureBox2,.figureBox3{
        float: none;
        margin: 10px auto;
    }
    aside{
        display: none;
    }
    .headerBox h1,.headerBox h2{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;    }
}
@media all and (max-width: 300px) {
    .figureBox1, .figureBox2,.figureBox3{
        width: 100%;
    }

    figcaption {
        display: none;
    }
}





