
html,body {
    width: 100%;
    background:-webkit-linear-gradient(top left,lightgreen,lightgoldenrodyellow,lightpink,lightsalmon,lightcoral);
}

.articleBox{
    padding: 0 20px;
    width: 760px;
    background-color:  rgba(255, 255, 255, 0.5);
    margin: 0 auto;
}

.headerBox{
    border-bottom:1px dashed #999
}

.headerBox h1{
    line-height:50px;
    text-align: center;
    font-size: 25px;
}

.p1Box {
    line-height:20px;
    font-size: 14px;
    color: blueviolet;
    text-indent:2em;
}
.p2Box{
    text-align: right;
    font-size: 14px;
    color: blueviolet;
}

.mainBox{

}

.mainBox h2{
    font-size: 18px;
    color: coral;
    font-weight:normal;
}

.mainBox h3{
    font-size: 18px;
    color: coral;
    font-weight:normal;
}

.mainBox h4{
    font-size: 18px;
    color: coral;
    font-weight:normal;
}

.mainBox p{
    font-size: 14px;
    text-indent:2em;
    line-height:30px;
}

.figureBox1{
   margin:10px 20px  0 0;
    width: 250px;
    float:left;
}

.mainBox p em{
    font-weight:normal;
    color: crimson;
    font-style:normal;
}

.figureBox2 {
    margin:10px 0  0 20px;
    width: 320px;
    float:right;
}


.figureBox3{
    margin:10px 20px  0 0;
    width: 430px;
    float:left;
}

@media all and (max-width: 800px){
    .articleBox{
        padding: 0 5px;
        width: auto;
    }
}

@media all and (max-width: 460px){
    .figureBox1,.figureBox2,.figureBox3 {
        float:none;
        margin:10px auto;
    }
}

@media all and (max-width: 250px) {
    .headerBox h1{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
@media all and (max-width: 440px) {
    .figureBox1,.figureBox2 {
        width: 100%;
    }
    figcaption{
        display:none;
    }
    .figureBox3{
        display:none;
    }
}

@media all and (max-width: 330px){
    .figureBox2{
        display:none;
    }
}
@media all and (max-width: 250px){
    .figureBox1{
        display:none;
    }
}